.grid {
    border: none;
}

#grid-container {
  display: grid;
  grid: 'a b'
        'a c';
  grid-gap: 10px;
  padding: 10px;
}

#tables {
  grid-area: 'c';
  margin-top: 70vh;
  margin-left: 20vw;
}

#floorPlans{
    position: relative;
    top: 350px;
    left: 75px;
    border-style: solid;
    border: olive;
}
.FP{
  opacity: 0.3;
  transition: 1s ;
  border-radius: 20px;
  margin-left: 5%;
  margin-bottom: 5%;
  border-style: solid;
  border-color: slategray;
  border-width: .03cm;
  cursor: pointer;
  width: 75%;
  height: auto;
}

.FP:hover {
  opacity: 0.9;
  background-color: slategray;
  transition: .9s;
  border-width: .03cm;}

/*background */
.modal {
  display: none;
  /*position and layer*/
  position: fixed;
  left: 0;
  top: 0;
  padding-top: 10%;
  overflow: auto;
  z-index: 1;
  /*back ground takes up whole scree*/
  width: 100%;
  height: 100%;
  /*bkg coloring*/
  background-color: rgb(97, 97, 97); /* Fallback color */
  background-color: rgba(65, 62, 62, 0.9); /* Black w/ opacity */
}

  /* content of the modal object */
.modal-content {
  width: 90%;
  max-width: 800px;
  margin: auto;
  display: block;

}

/* label for the modal object, which floor plan it is */
#label {
  transition: .5s;
  margin: auto;
  display: block;
  cursor: default;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: white;
  padding: 10px 0;
  height: 150px;
}
#label:hover {
  transition: .5s;
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: slategray;
  padding: 10px 0;
  height: 150px;

}


/* fade animation*/
@keyframes fade-in {
  from {opacity: 0;}
  to {opacity: 1;}
}

.modal-content, #label {
  animation-name: fade-in;
  animation-duration: 1.2s;
  border-radius: 2%;
}



/* The Close Button */
.closeButton {
  position: absolute;
  transition: 1.5s;
  top: 15px;
  right: 30px;
  color: slategray;
  font-size: 55px;
  font-weight: bold;

}

.closeButton:hover,
.closeButton:focus {
  color: rgb(185, 54, 54);
  text-decoration: none;
  cursor: pointer;
  transition: 1.5s;
}

/* scaling for smaller screen */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }

}


#ADU-layout, #ADU-box{
  margin-left: 20%;
  margin-top: 10%;
}


.sideBar{
  grid-area: 'a';
  position: fixed;
  background-color:rgba(0, 0, 0, 0.554);
  border-radius: 15px;
  padding: 2.5%;
  height: 75%;
  width: 200px;
  z-index: 1;
  /*start at the top left side*/
  top: 120px;
  left: 0;

}

.sideBar h2{
  background-color: rgba(255, 255, 255, 0.205);
  border-radius: 5px;
  margin-left: 12%;
  width: fit-content;
  padding: 5px;
}

.content{
  grid-area: 'b';
  background-image: url("../images/adu-background2.png");
  background-repeat: no-repeat;
  height: 100px;
  background-size: cover;
  position: absolute;
  top:0px;
  left:0px;
  width: 95%;
  height: 100%;
  /*transform: rotate(90deg);*/
}


  /* scaling for smaller screen */
  @media only screen and (max-width: 700px){
    .modal-content {
      width: 100%;
    }
  }

.compass-contain .compass1{
  position: relative;
  width: 90%;
  transform: rotate(0deg);
}

.compass-contain .compass2{
  position: relative;
  width: 90%;
  transform: rotate(90deg);
}

.compass-contain .compass3{
  position: relative;
  width: 90%;
  transform: rotate(180deg);
}

.compass-contain .compass4{
  position: relative;
  width: 90%;
  transform: rotate(270deg);
}

.compass-contain #compass-title{
  position: relative;
  font-size: 24px;
  margin-left: 25%;
  margin-right: auto;
  color: aliceblue;
}

#front-lot{
  margin-left: 90%;
  position: relative;
  display: inline;
  transform: rotate(90deg);
}
 #front-lot{
  margin-left: 90%;
  margin-top: 35%;
  position: absolute;
  display: inline;
  transform: rotate(90deg);
  transform(rotate(270deg));
}

#front-text{
  
  display: inline;
  font-size: 26px;
}

/*
<div id="front-lot">
            <span id="front-text">Front of Lot</span>
        </div>'
*/